@charset "utf-8";
html,body{height: 100%;
width: 100%;}
.container-bg{
	height: 80%;
	width: 100%;
	padding-top: 20%;
	background: url(../img/welcome-bg.png) no-repeat center center;
	background-size: cover;
	}
.login-section{
	width: 500px;
	margin: 0px auto;
	border-radius: 4px;
	background: #c4ccd2;;
}
.input-login-section{
	padding-top:10px;
}
.control-group{padding-top: 20px;}

.control-group .btn{
	margin-top: 10px;
}